a {
    color: #025aa5;
}
body {
    background: #F1F1F1;
}
body, pre {
    color: #4b4b4b;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Vue */
[v-cloak] {
    position: relative;
}
[v-cloak] > * {
    visibility: hidden;
}
[v-cloak]:before {
    content:"";
    background: url("../images/ajax-loader.gif") no-repeat top center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 2rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



/* Bootstrap Overrides */
.btn-full-width {
    width: 100%;
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4, h5, h6 {
    font-size: 16px;
}
.form-group {
    margin-bottom: 20px;
}

/*  Validation  */
.form-set.is-invalid .invalid-feedback {
    display: block;
}
.form-set.is-invalid label {
    color:  red;
}
.invalid-feedback {
    display: block; /* Always show */
}

.profile-photo {
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}
.profile-photo a {
    display: inline-block;
}
.profile-photo img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.profile-photo .initials {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    display: inline-block;
}

/* Tabs */
.tab-content {
    background: #ffffff;
    border: 1px solid #dee2e6;
    margin-top: -1px;
}

/* ID Card */
.id-card {
    background: #fff;
    box-shadow: 0 0 3px #ccc;
}
.id-card svg{
    width: 200px !important;
    height: 200px !important;
}